body{
    font-family: 'Special Elite', Verdana, Geneva, sans-serif;
    background-color: #025a31; 
	color: #ffffff;

}


.jumbotron{
	background-color: #05a756;
	color: #ffffff;
	font-family: 'Crete Round', "Times New Roman", serif;
	margin-bottom: 1%;
	padding-top: .5%;
	padding-bottom: 2%;
}

@media screen and (max-width: 767px){
	img{
		width: 50% !important;
	}
	.left{
		padding-top: 20px;
	}

}

h2{
	font-family: 'Sigmar One', Verdana, Geneva, sans-serif;
	color: #025a31;
}

img{
	border-radius: 6px;
	width: 100%;
}

#currentWord, #guessesLeft, #lettersGuessed, #wins, #losses{
	font-size: 24px;
}

.left{
	background-color: #05a756;
	border-radius: 6px;
}

.right{
	padding-right: 0;
}

.row{
	border-radius: 6px;
}


.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}



font-family: 'Crete Round', serif;