body {
    background-color: rgb(3, 78, 66);
}
.container {
    background-color: rgb(3, 73, 63);
    text-align: center;
}
.jumbotron {

    background-color: green;
}

h1 {
    color: #fff;

}


h2,h3,
h4,h5,h6 {
    padding: 5px;
}

.image {
   
    margin: 25px;
}

p {
    text-align: center;
}

.col-left {
    background-color: green;
    border: 5px solid #fff; 
    margin-top: 20px;
    margin-right: 2px;
    min-height: 500px; 
    padding-top: 20px;  
}

.col-right {
    background-color: rgb(135, 236, 206);
    border: 5px solid #fff;
    margin-top: 20px;
    margin-left: 2px;
    min-height: 500px;
    padding-top: 20px;
}



#title-image, #gameover-image, #youwin-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}

